* {
  background-color: #222 !important;
  color: #ffffff !important;
}

html {
  text-align: center !important;
}

body {
  display: inline-block !important;
  font-size: 19px !important;
  max-width: 800px !important;
}

a {
  color: #004b6b;
  text-decoration: none;
}

a:hover {
  color: #6d4100;
}

blockquote {
  font-style: italic;
}

:link {
  color: #3399ff !important;
  text-decoration: underline;
  cursor: pointer;
}
:visited {
  color: #800080 !important;
  text-decoration: underline;
  cursor: pointer;
}

big {
  font-size: 1.17em;
}

blockquote,
dd {
  margin-left: 40px;
  margin-right: 40px;
}

center {
  text-align: center;
}

dt {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: bolder;
}

i,
em,
cite,
address,
var {
  font-style: italic;
}

:link img,
:visited img {
  border: 1px solid;
}

frameset,
ul,
ol,
dir {
  margin-left: 40px;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.17em;
  margin-top: 0.83em;
  margin-bottom: 0;
}

h4 {
  margin-top: 1.12em;
  margin-bottom: 0;
}

h5 {
  font-size: 0.83em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

h6 {
  font-size: 0.75em;
  margin-top: 1.67em;
  margin-bottom: 0;
}

hr {
  width: 100%;
  border: 1px inset;
}

li {
  margin-top: 0.1em;
}

pre {
  white-space: pre;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ul ul ul ul {
  list-style-type: disc;
}

u {
  text-decoration: underline;
}

small,
sub,
sup {
  font-size: 0.83em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

s,
strike,
del {
  text-decoration: line-through;
}

table {
  border-style: outset;
  border-spacing: 1px;
}

td,
th {
  padding: 2px;
}

thead,
tbody,
tfoot {
  vertical-align: middle;
}

th {
  font-weight: bolder;
  text-align: center;
}

code,
tt,
pre,
samp,
kbd {
  font-family: monospace;
}

table,
caption {
  font-size: medium;
  font-weight: normal;
  margin-top: 0.75em;
  margin-bottom: 0;
}

button,
input,
div,
pre,
ul,
dl,
ol,
table,
section,
header,
article,
footer,
em,
b,
a,
form,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
  text-align: left;
  max-width: 800px !important;
  margin: auto !important;
}

input,
form {
  background-color: antiquewhite !important;
  text-align: center;
}

button,
input,
label {
  display: inline !important;
}

button *,
input *,
label * {
  display: inline !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
  padding: 16px 0 16px 0;
}

p,
blockquote {
  text-align: justify !important;
  max-width: 800px !important;
  margin: auto !important;
}

img,
figure,
figcaption {
  max-width: 800px !important;
  max-height: auto !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
}
